@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

:root {
    --bg-gradient: linear-gradient(155deg, #010101, #1E1106);
    --text-color: #fff;
    --footer-color: #000;
    --email-color: #1C140F;
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

body.light {
    --bg-gradient: linear-gradient(155deg,rgba(255, 255, 255, 1) 0%, rgba(79, 229, 255, 1) 100%);
    --text-color: #000;
    --footer-color: #fff;
    --email-color: #CAFFFA;
}




a {
    text-decoration: none;
}

img {
    max-width: 100;
}

.wrapper {
    background: var(--bg-gradient);
    width: 100%;
    transition: all 500ms ease;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo, 
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

@media (max-width: 1000) {
    h1 {
        font-size: 5;
    }
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    align-items: center;
}

header nav ul li {
    display:inline-block;

}

header nav ul li a {
    color: var(--text-color);
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 75px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a,
.email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover,
.email .block button:hover {
    background: #dc2c00;
}

header nav ul li.thm button {
    width: 50px;          /* фиксированная ширина */
    height: 50px;         /* фиксированная высота */
    padding: 0;            /* убираем лишние отступы */
    border: none;
    border-radius: 50%;    /* круглая кнопка */
    display: flex;         /* центрируем содержимое */
    align-items: center;   /* вертикально */
    justify-content: center; /* горизонтально */
    line-height: 0;        /* чтобы img не смещал */
    background: var(--text-color);
    cursor: pointer;
    transition: all 500ms ease;
}

header nav ul li.thm button img {
    width: 30px;   /* подбираешь под кнопку */
    height: 30px;
    display: block; /* важно! чтобы не было inline-отступов */
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #FA8305;
    color: var(--text-color);
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    display: inline-block;
    font-size: 17px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#hero-img {
    position: absolute;
    scale: 0.54;
    top: -500px;
    right: -260px;
}

.joystick .joy-btn {
    width: 40px;
    height: 40px;

    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: translateX(-50%);

    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.joystick .up    { top: 292px; right: 173px; background-image: url('../img/white_but.png'); }
.joystick .down  { top: 370px; right: 165px; background-image: url('../img/blue_but.png'); }
.joystick .left  { top: 335px; right: 205px; background-image: url('../img/orange_but.png'); }
.joystick .right { top: 330px; right: 135px; background-image: url('../img/green_but.png'); }

.joystick .up.pressed    { width: 36px; height: 36px; top: 294px; right: 180px; background-image: url('../img/white_but_pres.png'); }
.joystick .down.pressed  { width: 36px; height: 36px; top: 372px; right: 172px; background-image: url('../img/blue_but_pres.png'); }
.joystick .left.pressed  { width: 36px; height: 36px; top: 337px; right: 212px; background-image: url('../img/orange_but_pres.png'); }
.joystick .right.pressed { width: 36px; height: 36px; top: 332px; right: 142px; background-image: url('../img/green_but_pres.png'); }



/* Секция с играми */

.trending {
    padding-top: 90px;
}

.trending h3 {
    font-size: 31px;
    font-weight: 600;
}

.trending .see-all,
.projects .see-all  {
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;

}

.trending .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
    
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}


/* Секция баннера */

.features {
    background: url(../img/Rectangle_5.png) no-repeat center center fixed; 
    /* IT MUST BE WITH _ */
    background-size: cover;
    padding: 80px 0;
    color: #fff;
}

.features h3 {
    margin-bottom: 20px;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.features p {
    margin-bottom: 20px;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    width: 25%;
    text-align: center;
    margin: 30px 0;
}

.features .info .block p {
    width: 100%;
}


/* Recent Projects */

.projects {
    padding: 100px 0;
}

.projects h3 {
    text-align: center;
    font-size: 30px;
}

.projects p {
    margin: 40px 0;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all  {
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    width: 60px;
    display: block;
    transition: all 500ms ease;
    margin: 0 auto;
}

.projects .see-all:hover {
    transform: scale(1.1);
}


/* Email */

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background-color: var(--email-color);
    margin: 30px 0;
    border-radius: 15px;
    padding: 40px 3%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email h4 {
    font-size: 30px;
    font-weight: 500px;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 8px;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989

}

.email .block button {
    color: #fff;
    padding: 13px 17px;
    width: 88px;
    text-align: center;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
}


/* Footer */

footer {
    background: var(--footer-color);
    padding: 30px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}