name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read          # доступ к файлам репо
  pages: write            # разрешение на деплой Pages
  id-token: write         # ⚠ обязательно для новой версии deploy-pages

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Deploy Pages
      uses: actions/deploy-pages@v4